.custom-input {
  position: relative;
}

input {
  background: transparent;
  border: 0.05rem solid #dedede;
  line-height: 2.5;
  outline: none;
  width: 100%;
}

.label {
  position: absolute;
  padding-left: 0.1rem;
  top: 0;
  display: flex;
  cursor: text;
  color: var(--medium-gray);
  transition: 0.3s ease-in-out;
  pointer-events: none; /* Without this we can not click input because label does not forward click event. */
}

input:focus + .label,
input:valid + .label,
input:not(:placeholder-shown) + .label {
  color: var(--steel-gray);
  font-size: 0.75rem;
  top: -0.95rem;
  pointer-events: none;
}

input:focus,
input:valid {
  border-bottom-color: var(--steel-gray);
}

input:valid ~ .error {
  visibility: hidden;
}

.icon {
  font-size: 1.25em;
  font-weight: 600;
  position: absolute;
  cursor: pointer;
  color: var(--deep-blue);
  top: 1rem;
  right: 0.25rem;
  transform: translateY(-50%);
}

.icon path {
  fill: var(--deep-blue);
}

.error {
  color: var(--color-red);
  font-size: 0.75em;
  padding-left: 0.1rem;
  display: none;
}
