.pitch {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/products.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

ul {
  flex-direction: column;
  margin: 0 0 2rem 1rem;
}

li {
  list-style: unset;
  font-size: 1.25em;
  font-weight: 300;
}

.text-box div {
  text-align: center;
}

.primary {
  margin-bottom: 0.5rem;
  width: 12rem;
}
