.pitch {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/repair.jpg");
}

h2 {
  hyphens: manual;
}

.column-footer {
  margin-top: 1.5rem;
  text-align: center;
}

.videos {
  display: flex;
  flex-direction: column;
}

.videos h3 {
  text-align: center;
}

.videos div {
  width: 100%;
}

.videos .column {
  max-width: 48rem;
}

iframe {
  aspect-ratio: 16 / 9;
	width: 100%;
}

@media (width > 36rem) {  
  .column-footer {
    margin-top: 3rem;
  }
  .videos div {
    display: flex;
    justify-content: space-evenly;
  }      
}