.pitch {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/repair.jpg");
}

h2 {
  hyphens: manual;
}

.image-box + a {
  margin: 1rem;
}

.videos {
  padding: 1rem 0;
}

.videos h3 {
  text-align: center;
}

element {
  display: flex;
  width: 100%;
}

iframe {
  aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

.video-box {
  padding: 0 1rem;
  width: 100%;
}

@media (width >= 64rem) {
  .videos {
    flex-direction: column;
  }

  .video-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  iframe {
    flex-basis: 35%;
    margin: 1rem;
  }
}