#burger {
  background-image: url(/img/hamburger.svg);
  background-size: cover;
  cursor: pointer;
  fill: #fff;
  margin-top: 1.5rem;
  height: 2.5em;
  width: 2.5rem;
}

#close {
  background-image: url(/img/close.svg);
  background-size: cover;
  cursor: pointer;
  fill: #fff;
  height: 2.5em;
  width: 2.5rem;
}