html {
  --light-gray: #f5f5f5;
  --medium-gray: #a7a7a7;
  --steel-gray: #495057;
  --black: #000;
  --white: #fff;
  --sidebar-background: #000;
  --sidebar-color: #fff;
  height: 100%;
}

body, button, input, table, textarea, select, label {
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  padding: 1rem;
  width: 100%;
}

.logo {
  height: 4rem;
}

.page-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav li {
  margin-bottom: 0.75rem;
}

.sidenav a {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: var(--light-gray);
}

.pitch {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/frontpage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  height: 100vh;
  width: 100%;
}

.pitch div {
  padding: 0 1rem;
}

h1 {
  color: var(--white);
  font-size: calc(1.25rem + 1.25vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--light-gray);
  font-size: calc(2.5em + 1.5vw);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

article {
  padding: 1rem;
}

.column {
  max-width: 48rem;
  padding: 1rem;
}

/*
.column img {
  max-width: 100%;
  height: auto;
}
*/  

article:nth-child(even) {
  background-color: var(--light-gray);
}

h3 {
  font-size: calc(2em + 1.5vw);
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.column p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.column .primary {
  width: 12rem;
}

.partners {
  background-color: #eaeaea;
}

.partners .column {
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
}

footer a {
  text-align: center;
}

.download svg {
  fill: #ffd400;
  margin-left: 1rem;
  vertical-align: bottom;
}

@media (width > 36rem) {
  .logo {
    height: 6rem;
  }

  .sidenav a {
    font-size: 1.5rem;
  }

  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .column {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
  }

  footer .column {
    flex: 1 1 30%;
  }
}

@media (width >= 64rem) {
  #logo {
    height: 8rem;
  }
}
