.switch {
  background-image: url(/img/hamburger.svg);
  cursor: pointer;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 50;
}

.black {
  background-image: url(/img/hamburger-black.svg);
}

.hide-burger {
  background-image: url(/img/close.svg);  
}

@media (width >= 64rem) {
  .switch {
    width: 4rem;
    height: 4rem;
  }
}