main {
  margin: 2rem;
}

svg {
  fill: #fff;
  vertical-align: bottom;
}

.close {
  background-color: #000;
  color: #fff ;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  position: fixed;
  text-transform: uppercase;
}

iframe {
  height: calc(100vh - 5rem);
  width: 100%;
}

footer {
  padding: 0;
}