header {
  background-color: #333;
  padding: 0 3rem 0.75rem 3rem;
}

main {
  background-color: #eaeaea;;
  margin-top: 9.75rem;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2 1 48rem;
  width: 100%;
}

form h3 {
  text-transform: uppercase;
}

iframe {
  height: 100%;
  width: 36rem;
}

@media (max-width: 64rem) {
}

@media (max-width: 36rem) {
}